<div class="container">
  <div class="banner"></div>
  <header>
    <a href="#" class="logo"> Logo</a>
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Our Team</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </header>
  <div class="content">
    <h2>Pure CSS Sticky Navbar After Some Scroll</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate obcaecati minima molestiae ea quisquam
      corrupti repellendus. Impedit corporis, ex illo minima voluptate voluptates quam non totam iure magnam sed
      possimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tempore dolorem soluta dolores
      pariatur et ipsa porro quo. Vitae, nobis similique sapiente nesciunt placeat esse error voluptatum magni veritatis
      est! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere esse aliquid earum? Perferendis assumenda,
      odit distinctio numquam sit repudiandae aut adipisci harum iusto laborum autem laudantium porro quaerat nostrum
      non.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sit optio. Modi odit dignissimos, eligendi
      sapiente omnis magni asperiores. Odio explicabo, dolor voluptates facilis quod officiis molestiae? A, mollitia
      eius!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit doloremque fuga repellendus accusantium, ipsam
      possimus et quibusdam dolorum reprehenderit vel. Itaque tempore eum fuga molestiae, quibusdam quasi minima.
      Repellat, dicta.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem dolorem placeat voluptas. Accusantium nihil
      maiores ducimus quasi! Vitae, ex. Enim corporis temporibus reprehenderit, sit omnis ipsum soluta aut asperiores
      ab.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, id? Officiis voluptate vel adipisci deleniti
      eligendi autem veniam! Ex doloremque repellendus veritatis rem incidunt architecto voluptatem est, quam officia
      nisi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa id ipsam dolore libero alias sit est, hic
      cupiditate ab! Reiciendis ducimus, obcaecati cum dignissimos sed distinctio adipisci minima quae quis. Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Quos placeat, dolorem nulla dolor eius aut incidunt repellendus
      quaerat praesentium tempore, omnis adipisci? Suscipit, minima natus mollitia ratione dolore adipisci architecto.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, voluptates nobis reprehenderit amet pariatur
      sunt cumque! Quibusdam, unde molestias magni sed ea excepturi fuga minima ipsam numquam praesentium sint
      quae.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iure sint, similique nostrum culpa
      ipsa saepe fugit. Dolorem eveniet harum fugit cumque voluptatem, nemo dignissimos sit neque similique, animi
      perspiciatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus quis, mollitia ea ad illo
      adipisci debitis, doloremque magni facere molestiae ducimus unde odit! Assumenda illum cupiditate atque impedit
      suscipit eveniet! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus autem minima repellat
      distinctio voluptatem ex itaque, placeat ut qui quaerat labore quis, tempore esse. Doloribus magni odit quidem
      excepturi dolorem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto inventore quidem aut
      temporibus deserunt autem alias animi, amet magnam eius, molestias, obcaecati nostrum error iusto maxime cum a?
      Officia, impedit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe cum neque harum molestiae
      recusandae consequuntur nobis voluptates quod ipsa veritatis nostrum eaque tenetur, nesciunt sint dolor. Quibusdam
      excepturi eum officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eligendi fugit
      exercitationem necessitatibus dicta similique, tempore cum laborum eos aut dolor itaque inventore recusandae!
      Doloremque ex natus impedit deserunt explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Asperiores sequi dicta enim assumenda consectetur consequuntur unde. Distinctio perferendis deserunt nemo eius ut
      exercitationem dolore asperiores temporibus sapiente itaque, quasi dolor. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Mollitia doloribus animi, reprehenderit reiciendis possimus laudantium placeat dolorum saepe
      voluptates sequi unde nihil, consectetur iure. Ratione ipsa nesciunt commodi temporibus dignissimos. Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Itaque, expedita nobis. Odit reiciendis provident eius, fuga vero
      illum consequatur exercitationem animi pariatur laborum id eos. Quod possimus rem quaerat fuga.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil excepturi numquam ipsa aspernatur assumenda natus
      vitae. Doloribus mollitia maiores suscipit libero enim dolores modi assumenda nulla, sit velit repudiandae
      repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptatum cumque commodi laborum culpa in
      voluptatibus incidunt minus. Error ea cumque, dolores eligendi quidem exercitationem. Distinctio repellendus animi
      error assumenda! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam repellat, praesentium accusamus
      voluptatum quibusdam, temporibus, dolor reprehenderit sequi necessitatibus laborum ipsam quod reiciendis
      repudiandae! Deserunt quo harum corporis mollitia rerum? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Perferendis, unde delectus! Quod, a! Repellendus provident adipisci quos nam accusantium laboriosam corrupti,
      nihil omnis laborum labore quidem eaque vel eligendi dignissimos. Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Quas eveniet dicta ducimus qui, porro architecto deleniti debitis sapiente sequi, beatae aut
      sunt a tempore pariatur saepe aliquam ipsa. Quia, culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      At tempora aspernatur iusto quo alias? Neque error, necessitatibus quas vero commodi qui ipsa quae quo facilis
      magnam non ea praesentium quaerat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, corporis
      eius odio laborum a tempora. Doloremque atque iste nesciunt eligendi ipsa molestias suscipit corporis at soluta?
      Delectus libero ipsa at? Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus qui dignissimos vero
      officiis veritatis nisi similique nihil aut vitae! Assumenda expedita, nam quod consequuntur suscipit natus
      numquam accusamus non obcaecati? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam fuga quis rem,
      reiciendis nesciunt quas dolorem doloribus cumque commodi animi itaque consequatur accusamus est minima eos quos
      sed voluptatum ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat non, obcaecati
      eaque alias maxime eligendi amet ipsum accusantium magni? Maxime quod nobis, nostrum accusantium illo minus
      debitis quisquam a! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta nisi illo adipisci molestias
      inventore nesciunt repellendus corporis totam quod a aliquam debitis tempore vero ducimus minima, enim dolor nam
      qui! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione itaque iusto sapiente sequi molestias est,
      neque id provident, numquam rem impedit hic autem ex magnam eum officiis molestiae laudantium tenetur? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Harum, expedita illum voluptas quas temporibus, nam adipisci
      reiciendis minima nihil recusandae excepturi magnam dolor, labore quasi in porro enim nobis odio!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate obcaecati minima molestiae ea quisquam
      corrupti repellendus. Impedit corporis, ex illo minima voluptate voluptates quam non totam iure magnam sed
      possimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid tempore dolorem soluta dolores
      pariatur et ipsa porro quo. Vitae, nobis similique sapiente nesciunt placeat esse error voluptatum magni veritatis
      est! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere esse aliquid earum? Perferendis assumenda,
      odit distinctio numquam sit repudiandae aut adipisci harum iusto laborum autem laudantium porro quaerat nostrum
      non.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, sit optio. Modi odit dignissimos, eligendi
      sapiente omnis magni asperiores. Odio explicabo, dolor voluptates facilis quod officiis molestiae? A, mollitia
      eius!
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit doloremque fuga repellendus accusantium, ipsam
      possimus et quibusdam dolorum reprehenderit vel. Itaque tempore eum fuga molestiae, quibusdam quasi minima.
      Repellat, dicta.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem dolorem placeat voluptas. Accusantium nihil
      maiores ducimus quasi! Vitae, ex. Enim corporis temporibus reprehenderit, sit omnis ipsum soluta aut asperiores
      ab.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, id? Officiis voluptate vel adipisci deleniti
      eligendi autem veniam! Ex doloremque repellendus veritatis rem incidunt architecto voluptatem est, quam officia
      nisi? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa id ipsam dolore libero alias sit est, hic
      cupiditate ab! Reiciendis ducimus, obcaecati cum dignissimos sed distinctio adipisci minima quae quis. Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Quos placeat, dolorem nulla dolor eius aut incidunt repellendus
      quaerat praesentium tempore, omnis adipisci? Suscipit, minima natus mollitia ratione dolore adipisci architecto.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto, voluptates nobis reprehenderit amet pariatur
      sunt cumque! Quibusdam, unde molestias magni sed ea excepturi fuga minima ipsam numquam praesentium sint
      quae.lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus iure sint, similique nostrum culpa
      ipsa saepe fugit. Dolorem eveniet harum fugit cumque voluptatem, nemo dignissimos sit neque similique, animi
      perspiciatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus quis, mollitia ea ad illo
      adipisci debitis, doloremque magni facere molestiae ducimus unde odit! Assumenda illum cupiditate atque impedit
      suscipit eveniet! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellendus autem minima repellat
      distinctio voluptatem ex itaque, placeat ut qui quaerat labore quis, tempore esse. Doloribus magni odit quidem
      excepturi dolorem. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto inventore quidem aut
      temporibus deserunt autem alias animi, amet magnam eius, molestias, obcaecati nostrum error iusto maxime cum a?
      Officia, impedit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe cum neque harum molestiae
      recusandae consequuntur nobis voluptates quod ipsa veritatis nostrum eaque tenetur, nesciunt sint dolor. Quibusdam
      excepturi eum officia. Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem eligendi fugit
      exercitationem necessitatibus dicta similique, tempore cum laborum eos aut dolor itaque inventore recusandae!
      Doloremque ex natus impedit deserunt explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Asperiores sequi dicta enim assumenda consectetur consequuntur unde. Distinctio perferendis deserunt nemo eius ut
      exercitationem dolore asperiores temporibus sapiente itaque, quasi dolor. Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Mollitia doloribus animi, reprehenderit reiciendis possimus laudantium placeat dolorum saepe
      voluptates sequi unde nihil, consectetur iure. Ratione ipsa nesciunt commodi temporibus dignissimos. Lorem ipsum
      dolor sit amet consectetur, adipisicing elit. Itaque, expedita nobis. Odit reiciendis provident eius, fuga vero
      illum consequatur exercitationem animi pariatur laborum id eos. Quod possimus rem quaerat fuga.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil excepturi numquam ipsa aspernatur assumenda natus
      vitae. Doloribus mollitia maiores suscipit libero enim dolores modi assumenda nulla, sit velit repudiandae
      repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptatum cumque commodi laborum culpa in
      voluptatibus incidunt minus. Error ea cumque, dolores eligendi quidem exercitationem. Distinctio repellendus animi
      error assumenda! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam repellat, praesentium accusamus
      voluptatum quibusdam, temporibus, dolor reprehenderit sequi necessitatibus laborum ipsam quod reiciendis
      repudiandae! Deserunt quo harum corporis mollitia rerum? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      Perferendis, unde delectus! Quod, a! Repellendus provident adipisci quos nam accusantium laboriosam corrupti,
      nihil omnis laborum labore quidem eaque vel eligendi dignissimos. Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Quas eveniet dicta ducimus qui, porro architecto deleniti debitis sapiente sequi, beatae aut
      sunt a tempore pariatur saepe aliquam ipsa. Quia, culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      At tempora aspernatur iusto quo alias? Neque error, necessitatibus quas vero commodi qui ipsa quae quo facilis
      magnam non ea praesentium quaerat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, corporis
      eius odio laborum a tempora. Doloremque atque iste nesciunt eligendi ipsa molestias suscipit corporis at soluta?
      Delectus libero ipsa at? Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus qui dignissimos vero
      officiis veritatis nisi similique nihil aut vitae! Assumenda expedita, nam quod consequuntur suscipit natus
      numquam accusamus non obcaecati? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam fuga quis rem,
      reiciendis nesciunt quas dolorem doloribus cumque commodi animi itaque consequatur accusamus est minima eos quos
      sed voluptatum ipsam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus repellat non, obcaecati
      eaque alias maxime eligendi amet ipsum accusantium magni? Maxime quod nobis, nostrum accusantium illo minus
      debitis quisquam a! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta nisi illo adipisci molestias
      inventore nesciunt repellendus corporis totam quod a aliquam debitis tempore vero ducimus minima, enim dolor nam
      qui! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione itaque iusto sapiente sequi molestias est,
      neque id provident, numquam rem impedit hic autem ex magnam eum officiis molestiae laudantium tenetur? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Harum, expedita illum voluptas quas temporibus, nam adipisci
      reiciendis minima nihil recusandae excepturi magnam dolor, labore quasi in porro enim nobis odio!</p>
  </div>
</div>