<div class="container">
  <div class="box">
    <div class="content">
      <h1>Glowing Gradient Border</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit assumenda blanditiis eius laborum deleniti
        autem
        in. Esse veritatis quia quisquam est commodi incidunt consequatur, itaque nesciunt quis nihil, aliquam tempore!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium distinctio amet quia, earum eaque
        exercitationem nihil cumque aspernatur saepe laboriosam ipsum sed dolore porro deserunt, architecto, voluptatem
        quae. Qui, reiciendis.
      </p>
    </div>
  </div>
</div>